/* Global Styles:  */

/* Component Style should be imported here till https://github.com/vuejs/core/issues/4662 is resolved */

*,
.p-component {
    font-family: "Barlow";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.blue-background {
    background: #d2eeff;
}

.white-background {
    background: white;
}
.standard-padding {
    padding: 1.5rem;
}

:host {
    display: block;
}
@import "@/assets/scss/primvueMissingCss.scss";
@import "@/components/layoutElements/vbtnHeader.scss";
@import "@/components/layoutElements/vbtnFooter.scss";
@import "@/components/entrance/entranceStyles.scss";
@import "@/components/idpSelection/idpDialog.scss";
@import "@/components/idpSelection/idpAutocomplete.scss";
@import "@/components/idpSelection/Autocomplete/Autocomplete.scss";
@import "@/components/layoutElements/crests.scss";
@import "@/components/help/helpHeader.scss";
@import "@/components/help/helpContent.scss";
@import "@/components/help/numberedStep.scss";
@import "@/components/help/helpFooter.scss";
@import "@/components/entrance/entryButton.scss";
