/* Global Styles:  */

/* Component Style should be imported here till https://github.com/vuejs/core/issues/4662 is resolved */

@font-face {
    font-family: "Barlow";
    src: local("Barlow"), url(../font/Barlow-Black.ttf) format("truetype");
}
@font-face {
    font-family: "Barlow";
    src: local("Barlow"), url(../font/Barlow-Light.ttf) format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Barlow";
    src: local("Barlow"), url(../font/Barlow-SemiBold.ttf) format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Barlow";
    src: local("Barlow"), url(../font/Barlow-Bold.ttf) format("truetype");
    font-weight: bold;
}

html * {
    font-family: "Barlow";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

@import "@/components/layoutElements/header.scss";
@import "@/components/layoutElements/footer.scss";
@import "@/components/entrance/entranceStyles.scss";
@import "@/components/idpSelection/idpDialog.scss";
@import "@/components/idpSelection/idpAutocomplete.scss";
