.closeHelpButton {
    margin-right: -1rem;
    color: #0000c4;
}
.closeHelpButton:focus {
    box-shadow: none !important;
}
.initiativeFromLabel {
    color: #0000c4;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    margin-right: 4px;
    margin-top: 195px;
}

.crestLogoArea {
    padding-top: 1.5rem;
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 48px;
    margin-left: 72px;
    width: 416px;
    background: #fafafa;
}

.simpleLogoArea {
    padding-top: 35px;
    padding-left: 25px;
    padding-bottom: 35px;
    height: 29px;
}
