.idp-not-found-heading {
  font-size: 18px;
  color: #0000c4;
  font-weight: 550;
  margin-bottom: 10px;
}

.idp-button-link {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #0000c4;
}

.idp-list-label {
  font-size: 18px;
  font-weight: 400;
}

.idp-button-underline {
  text-decoration: underline;
  text-decoration-thickness: from-font;
}

.idp-button-separation {
  display: block;
}
