.p-dialog .p-dialog-content {
    padding: 0;
}

.p-dialog .p-dialog-header {
    padding: 0;
}

.p-dialog .p-dialog-footer {
    padding: 0;
}

.idp-choice-button {
    position: relative;
    width: 100%;
    height: 56px;
    margin-top: 20px;
    color: white;
    background: #0000c4;
    background-color: #0000c4;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-style: normal;
    transition: none;
    padding: 16px 24px;
    fill: #0000c4 !important;
}
.idp-choice-button:hover {
    background: #0032c4 !important;
    background-color: #0032c4 !important;
    fill: #0032c4 !important;
}

.idp-choice-button-loading {
    color: #7d7d7d;
    opacity: 50%;
    background: #f7f7f7;
    background-color: #f7f7f7;
    fill: #f7f7f7 !important;
    z-index: 10;
}

.idp-autocomplete {
    width: 50%;
}

.idp-button-spinner {
    width: 100%;
    z-index: 10;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.idp-button-label {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.p-progress-circle {
    stroke: #0032c4;
}

.p-progress-spinner {
    width: 32px;
    height: 32px;
    z-index: 100;
}

@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #0032c4;
    }

    40% {
        stroke: #0032c4;
    }

    66% {
        stroke: #0032c4;
    }

    80%,
    90% {
        stroke: #0032c4;
    }
}
